.lyricList__ul {
  margin-bottom: 10px;
  width: 100%;
}

.likesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8%;
  /* border: 1px solid hotpink; */
}

.lyricList__li {
  margin-bottom: 8px;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid hotpink; */
  width: 100%;
}

.thumbsUpIcon {
  font-size: 2rem;
  cursor: pointer;
}
